{{#if libros.length}}
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Autor</th>
        </tr>
        </thead>
    </table>
    <tbod>
        {{#each libros}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.titulo}}</td>
                <td>{{this.autor}}</td>
                <td>
                    <a class = "btn btn-success" href="/xyz">Ver detalle</a>
                    <a class="btn btn-danger" href="/zyx">Eliminar</a>
                </td>
            </tr>
        {{/each}}
    </tbod>


{{/if}}